@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    line-height: 1.75rem;
    color: var(--color);
}

#root {
    height: 100%;
}


/*******************
*  Signin Section   *
********************/

header {  
    height: 180px;
    background-image: url('https://storage.googleapis.com/pauly-static/webp/pan_pacific_1100.webp');
    background-position: center;
    background-size: cover;
}

header .overlay {
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.no-cover {
    background-image: none;
    background-color: inherit;
}


header h1 {
    margin: 1rem 0 0 0;
    letter-spacing: -1px;
    font-weight: var(--font-bold);
    color: #fff;
}

header .description {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    color: #fff;
}


header .avatar {
    display: block;
    max-width: 3rem;
    max-height: 3rem;
}

header .avatar img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.page-content {
    padding: 0 1rem;
    height: 100%;
}

/********************
*  Signin Section   *
********************/

.signin-wrapper {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin {
    height: 50%;
    background-color: var(--bgc-color);
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*******************
*       post       *
********************/

.post-header {
    padding: 2rem 0;
}

.post-meta {
    color: var( --post-meta-color);
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.post-meta>* {
    margin-right: 1rem;
}

.post-meta .photo {
    display: block;
    height: 2rem;
    width: 2rem;
}

.photo img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.post-content .post-body {
    margin: 1rem 0;
    color: var(--color);
}

.post-excerpt {
    padding: 2.5rem 0;
    border-bottom: 1px solid #EBF2F6;
}

.post-excerpt .title {
    font-size: 1.2rem;
    color: var(--bold-color);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.post-excerpt {
    color: var(--color);
    font-size: var(--font-normal);
    font-size: 1.1rem;
}

.post a {
    color: #4a4a4a;
    text-decoration: underline;
}

.post ul {
    list-style-type: circle;
}

.post ol {
    list-style-type: decimal;
}

/********************
*        table      *
********************/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

/* form & input */

.veritical-form {
    padding: 1rem;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1;
}

.input-group {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 1;
    grid-auto-rows: auto;
    font-size: 0.95rem;
}

.input-group.with-label .input {
    grid-column: span 2;
}

.input-group .error {
    display: grid;
    place-content: center end;
    color: #821;
    font-size: 0.9rem;
}

.input-group.active {
    border: 1px solid #479;
}

.input {
    height: 2rem;
    border: 2px solid #eee;
}

.input-group.error  .input {
    border-color: #821;
}

.input-group  .input:focus {
    outline: none;
    border-color: #888;
    background-color: #f9f9f9;
} 

.markdown-input {
    font-family: 'Courier New', Courier, monospace;
}

input, textarea, select {
    font-size: 16px;
    border: none;
    padding: 0.5rem;
    color: #555;
}

textarea {
    font-family: Consolas, "Liberation Mono", 'Courier New';
    color: rgb(61, 64, 67);
}

textarea.input {
    height: 300px;
}

input::placeholder {
    color: #ccc;
}

.button-group {
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    justify-content: flex-start;
}

.button-group .btn {
    margin-right: 0.5rem;
}

.submission-error {
    padding: 0.5rem 1rem;
    background-color: #faa;
    color: #444;
    font-size: 0.9rem;
}

/* button */

.btn {
    font-size: inherit;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #ddd;
    color: #000;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: #444;
    color: #fff;
}

.btn.btn-warning {
    background-color: #944;
    color: #fff;
}

.btn:disabled {
    background-color: #ccc;
    color: #999;
}

/* blockquote */

blockquote {
    margin: 1.6em 0;
    padding: 0 1.6em;
    border-left: #dfe1e3 .6em solid;
}

/*  open nav button */

.open-nav-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
}
.open-nav-button:hover {
    color: #ddd;
}

/********************
*        Side Nav   *
********************/

.side-nav {
    position: fixed;
    padding: 2rem 0;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    background-color: #444;
    opacity: 0.9;
    font-size: 1rem;
    transition: 0.5s ease;
}

.side-nav.visible {
    width: 180px;
}

.side-nav a {
    display: block;
    margin: 0.5rem 0rem 0.5rem 2rem;
    color: #fff;
}

.side-nav .close-link {
    position: absolute;
    top: 0rem;
    right: 22px;
    padding: 0.3rem;
    font-size: 2.1rem;
}

.side-nav a:hover {
    color: #ddd;
    display: block;
    margin-left: 2rem;
}

/* app initializing */

.view-loading {
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
    margin-top: 30vh;
}

/*******************
*     h1 - h2      *
********************/

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    line-height: 1.5em; 
    margin: 0 0 0.4em 0;
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-bold);
    text-rendering: geometricPrecision;
}

h1 {
    font-size: 3.2rem;
    letter-spacing: -2px;
    text-indent: -3px;
    line-height: 4rem;
}

h2 {
    font-size: 2.4rem;
    letter-spacing: -1px;
    line-height: 2.5rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.2rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.4rem;
    line-height: 1.9rem;
}

h6 {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #4A4A4A;
    transition: color 0.3s ease;
}

a:hover {
    color: #111;
}

p, ul, ol, dl {
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision;
}

ol, ul {
    padding-left: 3rem;
}

ol ol, ul ul, ul ol, ol ul {
    margin: 0 0 0.4em 0;
    padding-left: 2em;
}

/*******************
*     code  pre    *
********************/

code {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, pre tt {
    font-size: inherit;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

/*******************
*       columns    *
********************/

.two-columns {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

/*******************
*     util         *
********************/

.full-height {
    height: 100%;
    background-color: #999999;
}